.itemForm_input {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 90%;
    border: 1px solid #d3d3d3;
    padding: .4em;
    outline: none;
    transition: all .2s;
    font-size: 1.17em;
}

.itemForm_input:hover {
    border-color: #000;
}

.itemForm_input:focus {
    border-color: #000;
}