.todoItem {
    border: 1px solid black;
    margin-top: 1em;
    width: 90%;
    padding: 1em;
    box-sizing: border-box;
    display: grid;
}

.todoItem-compleated {
    background: #d3d3d3;
}

.todoItem_text {
    margin: .5em 0;
    animation-duration: .2s;
    animation-name: slidein;
}

.todoItem_createdAt {
    margin-top: 1em;
    color: #d3d3d3;
    font-size: .6em;
}

.todoItem_text:hover,
.todoItem_title:hover {
    border: 1px solid #d3d3d3;
}

@keyframes slidein {
    from {
        margin-top: -1em;
        opacity: 0;
    }

    to {
        margin-top: 0%;
        opacity: 1;
    }

}