.todoItem {
    border: 1px solid black;
    margin-top: 1em;
    width: 90%;
    padding: 1em;
    box-sizing: border-box;

}

.todoItem_title {
    margin-top: .1em;
}

.todoItem_text {
    margin-bottom: 1em;
    transform: translateY(-50px);
    transition: all 1s;
    opacity: 0;
}

.todoItem:hover .todoItem_text {
    opacity: 1;
    transform: translateY(0px);
}

.todoItem_createdAt {
    color: #d3d3d3;
}

.todoItem_text,
.todoItem_title {
    transition: all .1s;
}

.todoItem_text:hover,
.todoItem_title:hover {
    border: 1px solid #d3d3d3;
}